apiVersion: v1
kind: Service
metadata:
  name: app1-service
  namespace: app1-ns
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  selector:
    app: app1
  ports:
    - port: 80
      targetPort: 80
