apiVersion: apps/v1
kind: Deployment
metadata:
  name: app1-mumbai-deploy
  namespace: app1-mumbai-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app1-mumbai
  template:
    metadata:
      labels:
        app: app1-mumbai
    spec:
      containers:
      - name: nginx
        image: nginx:stable
        ports:
        - containerPort: 80
        volumeMounts:
        - name: html
          mountPath: /usr/share/nginx/html
      volumes:
      - name: html
        configMap:
          name: app1-mumbai-cm
